<section id="code" aria-label="Personal information code block">
  <div class="code-container">
    <p>const <strong>threePmPlugins</strong> = {</p>

    <dl>
      <dt>developer:</dt>
      <dd>'Joni Halabi',</dd>

      <dt>twitter:</dt>
      <dd>'<a href="https://twitter.com/jonihalabi">@jonihalabi</a>',</dd>

      <dt>explanation:</dt>
      <dd>'My friends and I have a tradition of eating ice cream at 3:00pm when we are on vacation. Still confused? Just grab a cone and enjoy.',

      <dt>status:</dt>
      <dd>'Hunkering down with my very active and curious toddler. Plugin updates are coming... slowly.'</dd>
    </dl>

    <p>};</p>

    <a href="mailto:her@thatdevgirl.com" class="btn on-blue">Let's chat!</a>
  </div>

  <br>
</section>
