<section id="plugins" aria-label="List of WordPress Plugins">
  <div class="container">
    <div class="flex-container">

      <div class="flex-card">
        <a href="/besan-block" class="plugins__a--screenshot">
          <img src="/assets/images/besan-block-screenshot-1.jpg" alt="" />
        </a>

        <h2>
          <a href="/besan-block">Besan Block</a>
        </h2>

        <p>This WordPress plugin adds a responsive and accessible data chart block to the post editor. The chart feeds off of data from a publicly viewable Google sheet.</p>

        <p>
          <a href="/besan-block" class="btn primary" aria-label="Besan Block plugin documentation">View documentation</a>
        </p>
      </div>

      <div class="flex-card">
        <a href="/color-palette" class="plugins__a--screenshot">
          <img src="/assets/images/color-palette-screenshot-2.jpg" alt="" />
        </a>

        <h2>
          <a href="/color-palette">Color Palette</a>
        </h2>

        <p>This WordPress plugin adds a color palette block to the post editor, so content editors can easily list colors to branding and style guide pages.</p>

        <p>
          <a href="/color-palette" class="btn primary" aria-label="Color Palette plugin documentation">View documentation</a>
        </p>
      </div>

      <div class="flex-card">
        <a href="/wc-tiered-shipping" class="plugins__a--screenshot">
          <img src="/assets/images/wc-tiered-shipping-settings.jpg" alt="" />
        </a>

        <h2>
          <a href="/wc-tiered-shipping">WC Tiered Shipping</a>
        </h2>

        <p>This WordPress plugin adds a tiered flat rate shipping option for the WooCommerce plugin.</p>

        <p>
          <a href="/wc-tiered-shipping" class="btn primary" aria-label="WC Tiered Shipping plugin documentation">View documentation</a>
        </p>
      </div>

    </div> <!-- /.flex-container -->
  </div> <!-- /.container -->
</section>
