<header class="page-header" aria-label="Site header">
  <h1 class="page-header__h1">
    <a href="/">Three PM WordPress Plugins by That Dev Girl</a>
  </h1>

  <nav class="page-header__nav" aria-label="Site navigation">
    <ul>
      <li><a href="https://thatdevgirl.com">Portfolio Site</a></li>

      <li class="icon">
        <a href="mailto:her@thatdevgirl.com" aria-label="E-mail me">
          <span class="fa fa-envelope"></span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<main class="site-wrapper">
