.page-title {
  background: lighten($blue, 25%);
  margin: 0;
  padding: 4rem 0;

  h1 {
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .btn {
    display: inline-block;
    margin: 0 2rem 2rem 0;
    max-width: 20rem;
  }
}

.page-donate {
  background: $black;
  color: $white;
  margin: 0;
  padding: 2rem 1rem;
  text-align: center;

  p {
    font-size: 1rem;
    margin: 0;
  }

  .btn {
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
  }
}

.page-documentation {
  margin: 2rem;

  @include media($medium_screen) {
    @include large-screen-block();
  }

  h2 {
    border-bottom: 2px solid $red;
    margin: 1rem 0 2rem;
    padding-bottom: 0.5rem;
    text-align: left;
  }

  li {
    list-style-type: disc;
    margin: 0 0 1rem 3rem;
  }

  img {
    border: 1px solid $grey;
    margin: 1rem 0;
    max-width: 90%;
    width: auto;
  }
}

.page-documentation__ul--features {
  margin-top: 2rem;

  li {
    list-style-type: none;
    margin: 0 0 2rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .fa {
    color: $grey;
    margin-right: 0.25rem;
  }
}

.page-screenshots {
  p {
    text-align: center;
  }
}
