a {
  color: $red;
  transition: all 0.35s;

  &:hover {
    text-decoration: none;
  }
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.center {
  text-align: center;
}

svg {
  margin: 1rem 0;
}
