/**
 * Colors
 */

$black: #222;
$white: #fff;

$grey:        #444;
$grey_light:  #efefef;

$red:       #bb4030;
$red_light: #f8ecea;

$purple: #5530bb;
$blue:   #237d89;
$green:  #21873b;
$orange: #907227;

$blue_transparent:   rgba($blue, 0.8);
$orange_transparent: rgba($orange, 0.75);

/**
 * Fonts
 */

$sans: 'Helvetica', sans-serif;
$monospace: 'Consolas', monospace;

/**
 * Sizes
 */

$header_height: 50px;

/**
 * Breakpoints
 */

$small_screen_only: new-breakpoint(max-width 669px 12);

$medium_screen:      new-breakpoint(min-width 670px 12);
$medium_screen_only: new-breakpoint(min-width 670px max-width 1023px, 12);

$medlg_screen: new-breakpoint(min-width 760px 12);
$large_screen: new-breakpoint(min-width 1024px 12);
