/* ***
 * Page lead block, on the front page.
 */

.page-lead {
  background-image: url( '/assets/images/monitor-bg.jpg' );
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 8px solid $grey;

  .btn.primary {
    background: $blue;

    &:hover,
    &:focus {
      background: $orange;
    }
  }
}

.page-lead-inner {
  background: rgba( $red, 0.7 );
  height: 100%;
  padding: 4rem 0;
  width: 100%;

  .btn {
    @include box();
    background-color: $blue;
    margin-left: auto;
    margin-right: auto;
    max-width: 16rem;
  }

  /*
   * Page title and logo.
   */

  header {
    text-align: center;

    img {
      height: 4rem;
      margin-bottom: 1rem;
    }

    br {
      @include media( $medium_screen ) {
        display: none;
      }
    }

    .tagline {
      color: $white;
      font-size: 2rem;
      line-height: 1.5;
      margin-bottom: 1rem;
      text-align: center;
      text-shadow: 1px 1px $black;
    }
  }

  /*
   * Information line.
   */

  p.about {
    color: $white;
    font-size: 1.25rem;
    margin: 0 auto 2rem;
    text-align: center;
    text-shadow: 1px 1px $black;

    @include media( $large_screen ) {
      max-width: 60%;
    }
  }
}
