#code {
	background: lighten($blue, 25%);
	display: block;
	font-family: $monospace;
  font-size: 1rem;
	margin: 0;
	padding: 2rem 1rem;
	width: 100%;

	@include media($medium_screen) {
		font-size: 1.25rem;
		padding: 3em 5em;
	}

	p {
		font-size: 1rem;
		margin: 0.5rem 0;

		@include media($medium_screen) {
			font-size: 1.25rem;
		}
	}

  a:not(.btn) {
    color: darken($red, 20%);

    &:hover {
      color: $grey;
      text-decoration: none;
    }
  }

	.btn.primary {
		font-size: 1rem;
		font-weight: 300;
		margin-top: 2rem;

		&:hover {
			background: $orange;
		}
	}
}

.code__div {
	margin: 0 2rem;

	@include media($medium_screen) {
		@include large-screen-block();
	}

  .btn {
    max-width: 16rem;
  }
}

.code__dl {
	margin: 0 2rem;

	dt {
		clear: both;
		display: block;
		font-weight: bold;
    line-height: 1.5;
		width: 10rem;

		@include media($medium_screen) {
			float: left;
		}
	}

	dd {
		display: block;
    line-height: 1.5;
		margin-bottom: 1rem;

		@include media($medium_screen) {
			margin-bottom: 0;
			overflow: hidden;
		}
	}
}
