/**
 * LAYOUT: Page header
 */

.header {
  background: rgba( 0, 0, 0, 0.85 ) ;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;

  // Site logo area.
  h1 {
    margin-bottom: 0;
    padding: 0.25rem;

    @include media( $medium_screen ) {
      float: left;
      margin: 0 1rem;
    }

    a {
      background: url( '/assets/images/threepm-logo.png' ) no-repeat center;
      background-size: contain;
      display: block;
      font-size: 0;
      height: 38px;
      width: 100%;

      @include media( $medium_screen ) {
        height: 40px;
        width: 253px;
      }
    }
  }

  // Site navigation.
  nav {
    background: $blue;
    text-align: center;

    @include media( $medium_screen ) {
      background: transparent;
      float: right;
    }

    li {
      display: inline-block;

      &.icon {
        @include media( $medium_screen ) {
          border-left: 1px solid $white;
        }
      }

      @include media( $medium_screen ) {
        display: block;
        float: left;
      }
    }

    a {
      color: $white;
      display: block;
      font-size: 1rem;
      font-weight: 300;
      padding: 0.5rem 0.75rem;
      text-decoration: none;

      &:hover {
        background: $blue;
      }

      @include media( $medium_screen ) {
        padding: 0.8rem 1.5rem;
      }
    }
  }
}
