/**
 * COMPONENT: Plugins list (front page)
 */

#plugins {
  background: url('/assets/images/pattern-bg.svg');
  padding: 4rem 2rem;

  h2 {
    font-size: 1.5rem;
    margin: 2.5rem 1.5rem 2rem;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        color: $blue;
        text-decoration: underline;
      }
    }
  }

  p {
    margin: 0.5rem 1.5rem;
  }
}

.plugins__a--screenshot {
  border-bottom: 1px solid $grey_light;
  display: block;
  height: 8rem;
  overflow: hidden;

  @include media( $medium_screen ) {
    height: 10rem;
  }

  img {
    border-radius: 5px 5px 0 0;
    margin: 0;
    width: 100%;
  }

  &:hover {
    background: transparent;
  }
}
