/**
 * COMPONENT: Documentation
 */

.page-title {
  background-image: url( '/assets/images/monitor-bg.jpg' );
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

  .page-title-inner {
    background: rgba( $black, 0.7 );
    color: $white;
    height: 100%;
    padding: 4rem 0 4rem;
    text-shadow: 1px 1px $black;
    width: 100%;
  }

  h1 {
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .btn {
    display: inline-block;
    margin: 0 2rem 2rem 0;
    max-width: 20rem;
  }
}

.page-documentation {
  margin: 2rem;

  @include media( $medium_screen ) {
    margin: 0 auto;
    width: 66%;
  }

  h2 {
    border-bottom: 2px solid $red;
    padding-bottom: 0.5rem;
  }

  li {
    list-style-type: disc;
    margin: 0 0 1rem 3rem;
  }
}

.page-documentation__ul--features {
  margin-top: 2rem;

  li {
    list-style-type: none;
    margin: 0 0 2rem;
  }

  .fa {
    color: $grey;
    margin-right: 0.25rem;
  }
}
