/* ***
 * Documentation page styles.
 */

.page-title {
  background-image: url( '/assets/images/monitor-bg.jpg' );
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

  .page-title-inner {
    background: rgba( $white, 0.7 );
    height: 100%;
    padding: 4rem 0 4rem;
    width: 100%;
  }

  h1 {
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .description {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.75;
  }

  .btn {
    display: inline-block;
    margin: 0 2rem 2rem 0;
    max-width: 20rem;
  }
}

.page-donate {
  background: rgba( $blue, 0.6 );
  margin: 0 0 2rem;
  padding: 2rem 1rem;
  text-align: center;

  p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
  }

  .btn {
    margin: 1rem auto 0;
    max-width: 20rem;
  }
}

.page-documentation {
  margin: 2rem;

  @include media( $medium_screen ) {
    @include large-screen-block();
  }

  h2 {
    border-bottom: 2px solid $red;
    margin: 1rem 0 2rem;
    padding-bottom: 0.5rem;
    text-align: left;
  }

  li {
    list-style-type: disc;
    margin: 0 0 1rem 3rem;
  }
}

.page-documentation__ul--features {
  margin-top: 2rem;

  li {
    list-style-type: none;
    margin: 0 0 2rem;
  }

  .fa {
    color: $grey;
    margin-right: 0.25rem;
  }
}
